xml/w.dtd

<!ELEMENT DATABASES (DATABASE)*>
<!ELEMENT DATABASE(TABLES+)>
<!ATTLIST DATABASE(dbname CDATA #REQUIRED dbtype SYSTEM:USER #REQUIRED)>
<!ELEMENT TABLES(TABLE+)>
<!ELEMENT TABLE(RECORD+)>
<!ATTLIST TABLE(tname CDATA #REQUIRED ttype(MASTER:TRANSACTION#REQUIRED))>
<!ELEMENT RECORDS(RECORDS+)>
<!ELEMENT RECORD(FIELDS+)>
<!ATTLIST RECORD(recordno CDATA #REQUIRED)>
<!ATTLIST FIELD(sname CDATA#REQUIRED type SIMPLE|COMPLEX)>